@import './branding.css';

/* ################## top-level styling ################## */
html, body, #root {
  background-color: hsl(var(--background-hue), var(--background-sat), calc(var(--background-lum) - 5%));
  background-image: var(--background-img);
}


.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

header {
  background-color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden;
  flex: 0 0 3em;
  width: 100%;
}

article {
  display: flex;
  flex: 1;
  padding: 1em 0;
  overflow: hidden;
  position: relative;
}

.body-margin {
  flex: 1 2 100px;
}

.body-main {
  flex: 1 1 1200px;
  display: flex;
}

.column {
  
}
.column:not(:last-child) {
  margin-right: 1em;
}

.column-header {
  display: flex;
  flex: 0;
  padding: 1em;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

.column-header h1 i {
  margin: 3px 0.5em 0 0;
}

.parameters {
  background-color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
  width: 300px;
  box-shadow: var(--shadow);
  border-radius: 7px;
  z-index: 1;
}

.column.center{
  display:flex;
  flex-direction:column;
  flex: 1;
  overflow: hidden;
}

.column.right {
  flex: 1;
  height: 100%;
}

.column.right .panel-buttons {
  border-top: 1px solid var(--secondary-contrast);
}

.column-segment {
  
  display: flex;
  justify-content: space-between;
}
.column-segment:not(.select, :first-of-type) {
  padding: 25px;
  border-top: 1px solid;
}

.super-label {
  font-size: 0.75em;
  text-align:center;
  font-family: 'Barlow Condensed', sans-serif;
}

.column-segment:not(:first-of-type) {
  /* border-top: 1px solid; */
}
.column.left .column-segment {
  border-color: var(--primary-contrast);
}
.column.right .column-segment {
  border-color: var(--secondary-contrast);
}

.text-button {
  cursor: pointer;
  padding: 16px;
  display: flex;
  justify-content:center;
  --button-hue: var(--primary-hue);
  --button-sat: var(--primary-sat);
  --button-lum: var(--primary-lum);
  --button-text-color: var(--primary-contrast);
  background-color: hsl(var(--button-hue), var(--button-sat), var(--button-lum));
  color: var(--button-text-color);
}
.text-button:hover {
  background-color: hsl(var(--button-hue), var(--button-sat), calc(var(--button-lum) + 15%));
}
.text-button.dim {
  --button-lum: 30%;
}
.text-button.disabled {
  cursor: not-allowed;
  --button-sat: 0%;
}
.text-button.secondary {
  --button-hue: var(--secondary-hue);
  --button-sat: var(--secondary-sat);
  --button-lum: var(--secondary-lum);
  --button-text-color: var(--secondary-contrast);
}

.text-button ~ .text-button {
  border-left: 1px solid white;
}


/* ################## modal styling ################## */



.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-anchor {
  position: absolute;
  left: 50%;
  top: 50%;
}

.modal-content {
  position: relative;
  left: -50%;
  top: -50%;
}

.draggable .modal-header {
  cursor:all-scroll;
}

.modal.abs {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

.modal-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,var(--background-max),0.5);
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content:center;
}

.modal-body img {

}

.modal-container {
  overflow: hidden;
  border-radius: 7px;
  background-color: hsl(var(--background-hue), var(--background-sat), var(--background-lum));
  color: var(--background-contrast);
  z-index: 100;
  box-shadow: var(--shadow);
}

.modal-container .panel-buttons {
  background-color: var(--brand-dark);
}

.modal-header {
  font-size: 1.25em;
  padding: 1em;
  background-color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
  color: var(--primary-contrast);
}

#submitQuote .input-set {
  width: 200px;
}

.input-set {
  flex: 1;
  display: flex;
  flex-flow:column;
  margin: 5px;
}
.input-set-label {
  font-family: 'Barlow Condensed', sans-serif;
}

.input-set > input, .input-set > textarea {
  flex: 1;
  border: none;
  background-color: hsla(0,0%,var(--background-max),0.1);
  padding: 0.5em;
  border-radius:3px;
  color: var(--background-contrast);
}

.input-set.textarea {
  flex: 2;
}

input.fault {
  border: 1px solid red;
}

.colorz-anchor {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 50px;
  width: 1px;
}

.colorz-anchor .modal-container {
  position: relative;
  top: -250px;
  width: 250px;
}

.colorz-icon {
  display: flex;
  justify-content:center;
  align-items:center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: var(--primary-contrast);
  font-size: 2em;
  cursor: pointer;
  box-shadow: var(--shadow);
  background-image: linear-gradient(to right, hsl(var(--primary-hue),var(--primary-sat),var(--primary-lum)),
                                             hsl(var(--secondary-hue),var(--secondary-sat),var(--secondary-lum)));
}


/* ################## navigation styling ################## */

nav {
  display: flex;
  position: sticky;
}

nav ul {
  justify-content: space-around;
  height: 100%;
}

nav li {
  flex: 1;
  font-size: 18px;
  padding: 0.75em;
  text-align: center;
}
nav li:hover{
  background-color: white;
  cursor: pointer;
}

nav .margin-left, nav .margin-right {
  display: flex;
  flex: 1 0 10em;
  justify-content: center;
}

nav .main-nav {
  flex: 4 0 10em;
}

.main-nav ul {
  color: var(--primary-contrast);
}
.main-nav li:hover {
  color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
}


/* ################## catalog styling ################## */

.catalog {
  display: flex;
  flex: 1;
  flex-flow: column;
  overflow: hidden;
  
}

.quantity-control {
  text-align: center;
  border: 2px solid;
  border-color: hsl(0, 100%, var(--background-max));
  border-radius: 3px;
  display: flex;
  width: 90px;
  height: 30px;
}
.quantity-control .btn {
  font-size: 14px;
  color: black;
  background-color: white;
}
.quantity-control .btn:hover {
  color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
  background-color: white;
}
.quantity-control .btn.inactive {
  background-color: hsla(0,0%,var(--background-max),0.3);
}
.quantity-control .btn.inactive:hover {
  color: black;
}
.quantity-control > * {
  display: flex;
  justify-content:center;
  align-items: center;
  flex: 1;
}

.quantity-count {

}

.search-field {
  display: flex;
  padding: 1em 0;
  align-items: center;
}

.search-field > input {
  background-image: linear-gradient(to right, 
                                    hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lum) + 10%)), 
                                    hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lum) - 10%)));
  height: 2em;
  border-radius: 7px;
  font-size: 16px;
  padding: 0.1em 0.5em;
  flex: 1;
  outline: none;
  border: 1px solid var(--brand-dark);
}
.search-field > input:focus{
  /* color: var(--background-max); */
  background-color: hsla(var(--primary-hue), var(--primary-sat), var(--primary-lum), 0.2);
  background-image: none;
}
.search-field > input::placeholder{
  color: hsla(0,100%, var(--primary-max), 0.5);
}

.search-field .radio-set {
  /* max-width: 100px; */
  flex: 0;
  height: 100%;
}

.search-field .radio-option {
  border: 1px solid var(--background-contrast);
  font-size: 1.21em;
  flex: 0;
  margin-left: 0.5em;
}
.search-field .radio-option.checked {
  background-color: hsl(var(--primary-hue),var(--primary-sat),var(--primary-lum));
  color: var(--primary-contrast);
  border: none;
}

.item-segment.required .btn {
  display: none
}

.item-segment.numeric {
  display: flex;
  justify-content: flex-end;
}

.catalog .dbw-thead li {
  border-bottom: 1px solid var(--background-contrast);
}


/* ################## cart styling ################## */

.branch.show {
  margin-bottom: 5px;
}

.branch-container.show {
  background-color: hsla(0,0%,var(--secondary-max),0.07);
  border-bottom-left-radius: 7px;
}

.branch-container.show > .content-container {
  border-top: 1px solid var(--secondary-contrast);
}

.branch-header {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  padding: 7px 0;
}

.cart {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
  color: var(--secondary-contrast);
}

.cart-contents {
  overflow:hidden;
  flex: 1;
}

.cart-content .dbw-tbody {
  flex: 1;
  overflow-y: scroll;
}

.cart-col {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  padding-left: 5px;
}

.cart-col:not(:last-child) {
  margin-right: 2px;
}

.cart-item > ul, .collapser-content > ul{
  flex: 1;
}

.cart-col.bullet {
  cursor:context-menu;
}

.cart-col.spacer {
  width: 15px;
}

.cart-col.quantity {
  width: 30px;
}

.cart-col.name {
  flex: 1;
  display: flex;
  cursor:context-menu;
}

.cart-col.name > div {
  
  flex:1;
}
.cart-col.name > i {
  width:1em;
}

.cart-col.rate {
  width: 75px;
  padding-right:10px;
}

.cart-col.numeric {
  text-align: right;
}

.collapser-button {
  cursor: row-resize;
  min-width: 1em;
}

.collapser-container {
  display: flex;
  flex-direction: column;
}

.show > .content-container {
  padding: 7px 0 0 10px;
}

.collapser-header {
  flex: 1;
}
.hidden > .collapser-header {
  display: none;
}

.hidden > ul {
  padding: 0;
}

.content-container.show {
  display: block;
}
.content-container.hidden {
  display: none;
}

.collapser-content {
  flex: 1;
}

.panel-buttons {
  display: flex;
}
.panel-buttons > * {
  flex: 1;
}

.cart-summary {
  flex-flow: column;
  background-color: hsl(0, 100%, var(--background-max));
  color: hsl(0, 100%, var(--background-min));
  font-size: 20px;
}

.cart-summary-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.cart-summary-row ~ * {
  margin-top: 10px;
}

.grand {
  font-size: 1.5em;
}

.kit-complete {
  border-left: 1px solid var(--secondary-contrast);
}

.kit-complete-header {
  background-color: hsla(0,0%,var(--secondary-max),0.1);
}

.option {
}

.adult > .quantity, .child.option > .quantity {
  background-color: hsla(0,0%,0%,0.15);
  border-radius: 3px;
}

.cart .dbw-thead li {
  border-bottom: 1px solid var(--secondary-contrast);
}

.slide-panel {
  --test: 50;
  position: absolute;
  display: flex;
  flex-flow: column;
  transition: right 0.2s ease;
  height: calc(100% - 2em);
  width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 7px 0 0 7px;
  background-color: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lum));
}

.slide-panel.in {
  right: 0%;
}
.slide-panel.out {
  right: -100%;
}

.slide-panel-switch{
  position: absolute;
  display: flex;
  top: 1px;
  right: 0px;
  padding: 0.25em;
  z-index: 2;
  background-color: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lum));
  color: var(--secondary-contrast);
  border-radius: 7px 0 0 7px;
  cursor: pointer;
  margin-top: 1.75em;
  font-size: 1.5em;
}

.slide-panel-switch i {
  padding: 3px 0.5em 0 0;
}


/* ################## selector styling ################## */

.selector-set {
  width: 100%;
  border-top: 1px solid;
}

.selector-set.empty, .selector-set.waiting {
  display: none;
}

.selector-set > .super-label {
  display: none;
}


/* ################## colorz styling ################## */

.color-node {
  width: 200px;
  padding: 5px;
}

.color-node > label {
  margin-left: 10px;
}


/* ################## radio button styling ################## */

.radio-list{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.radio-option {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.4em;
  user-select: none;
  border-radius: 7px;
}
.radio-list .checked {
  font-weight: 700;
  border: 1px solid;
}

.radio-set {
  /* width: 100%; */
  flex: 1;
}

.radio-set > .super-label {
  display: none;
}


/* ################## date picker styling ################## */

.date-selector {
  display: flex;
  flex-flow: column;
}

.date-selector .super-label {
  text-align: left;
}

.date-selector input {
  background-color: transparent;
  font-size: 1em;
  text-align: left;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  width: 6em
}
.date-selector input:hover {
  background-color: rgba(255,255,255,0.25);
}
.date-selector input:focus {
  background-color: rgba(0,0,0,0.2);
  outline: none;
  cursor: text;
}

.date-selector.white input {
  color: white;
}
.date-selector.black input{
  color: black;
}

.react-datepicker-wrapper input {
  padding: 0;
}


/* ################## super-input styling ################## */

.super-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: text;
}

input.super-input {
  text-align:center;
  font-size: 16px;
  font-family: 'Oxygen', 'Roboto', 'Segoe UI', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif, -apple-system, BlinkMacSystemFont;
  background-color: transparent;
  border: none;
  width: 100%;
}
 
.super-input::-webkit-inner-spin-button,
.super-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ################## table/grid styling ################## */

.catalog-item-container {
  background-color: hsla(0,100%,var(--background-max),0.1);
  border-radius: 7px;
  overflow: hidden;
  margin: 0 2px 2px 0;
}

.catalog-item-container:hover {
  background-color: hsla(0,100%,var(--background-max),0.15);
}

.row-expander.btn {
  background-color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lum));
  color: var(--primary-contrast);
}
.row-expander.btn.expanded {
  border-bottom-right-radius: 7px;
}

.catalog-item-elements {
  flex: 1;
}

.container-header, .catalog-item {
  display: flex;
  flex: 1;
}

.row-expander {
  display: flex;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
}

.row-expander.btn:hover {
  background-color: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lum) + 5%));
}

.catalog-item-elements li {
  align-items: center;
}

.catalog-item-elements .item-image > * {
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid hsla(var(--secondary-hue), var(--secondary-sat),var(--secondary-lum), 0.7);
}

.catalog-item-elements li:nth-child(2) > * {
  width: 150px;

}

.item-segment, .dbw-thead .row-expander {
  margin-right: 3px;
  display: flex;
}

.item-segment {
  padding: 0 10px;
}

.item-image-thumbnail {
  text-align: center;
}

/* ##### grid ##### */

.dbw-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
}

.dbw-grid::-webkit-scrollbar {
  display:none;
}

.dbw-grid .catalog-item-container {
  min-height: 275px;
}

.dbw-grid .catalog-item-container.expanded {
  grid-row: span 2;
}

.dbw-grid .catalog-item, .dbw-grid .container-header {
  flex-flow: column;
}

.dbw-grid .catalog-item-elements {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
}

.dbw-grid li {
  margin-bottom: 5px;
}

.dbw-grid .item-description {
  order: 1;
  height: 2em;
  align-items:flex-start;
}

.dbw-grid .item-image {
  order: 4;
  height: 100px;
  overflow: hidden;
}

.dbw-grid .item-quantity {
  order: 2;
}

.dbw-grid .item-rate {
  order: 3;
}

.item-segment .grid-label {
  margin-right:1em;
}

/* ##### table ##### */

.dbw-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.dbw-table .grid-label {
  display: none;
}

.dbw-table ul {
  margin-bottom: 2px;
}

.dbw-thead {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.25em;
}
.dbw-thead li {
  /* border-bottom set by component */
}

.dbw-tbody {
  overflow-y: scroll;
}
.dbw-tbody::-webkit-scrollbar {
  display: none;
}

.dbw-table .item-description {
  order: 3;
  flex:1;
}

/* .dbw-table .item-segment:nth-child(2) - see table/grid general section */

.dbw-table .item-quantity {
  order: 1;
  width: 100px
}
.dbw-table .item-rate {
  order: 2;
  width: 75px;
}
.dbw-table .item-image {
  order: 3;
  width: 100px;
  display: flex;
  justify-content: center;

}

.dbw-table .catalog-item-elements {
  height: 50px;
  overflow: hidden;
  border-radius: 7px;
}

.collapsible-container {
  flex: 1;
  transition: height 0.2s ease;
}

.container-accessories {
  margin-left: 1em;
}


/* ################## loader/blip styling ################## */

@keyframes pulse {
  0%, 50% {
    transform: scale(0.3);
  }
  25% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

.loader-text {
  text-align:center;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  font-size: 1em;
}

.loader-blip {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blips {

}

.blip {
  animation: pulse 1s infinite;
  animation-timing-function: ease-out;
  background-color: var(--background-contrast);
  border-radius: 50px;
  height: 10px;
  width: 10px;
}

.blip:nth-child(2){
  animation-delay: 0.1s
}
.blip:nth-child(3){
  animation-delay: 0.2s
}
.blip:nth-child(4){
  animation-delay: 0.3s
}
.blip:nth-child(5){
  animation-delay: 0.4s
}
.blip:nth-child(6){
  animation-delay: 0.5s
}
.blip:nth-child(7){
  animation-delay: 0.6s
}