/* ################## top-level styling ################## */

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

header {
  background-image: var(--brand-fade);
  color: white;
  overflow: hidden;
  flex: 0 0 3em;
  width: 100%;
}

article {
  display: flex;
  flex: 1;
  padding: 1em 0;
  overflow: hidden;
  position: relative;
}

.body-margin {
  flex: 1 2 100px;
}

.body-main {
  flex: 1 1 1200px;
  display: flex;
}

.column {
  display: flex;
  flex-flow: column;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: hidden;
}
.column:not(:last-child) {
  margin-right: 1em;
}

.column-header {
  display: flex;
  flex: 0;
  padding: 1em;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

.column-header h1 i{
  margin: 0.1em 0.5em 0 0;
}

.column.left {
  border-radius: 7px;
  background-color: var(--brand-color);
  min-width: 300px;
}

.column.center{
  flex: 1;
  overflow: hidden;
  box-shadow: none;
}

.column.right {
  border-radius: 7px 0 0 7px;
  background-color: var(--brand-dark);
  width: 400px;
  flex: 1;
  height: 100%;
}

.column .param-set {
  border-bottom: 1px solid white;
}

.slide-panel {
  position: absolute;
  display: flex;
  flex-flow: column;
  transition: right 0.2s ease;
  height: calc(100% - 2em);
  
}

.slide-panel.in {
  right: 0%;
}
.slide-panel.out {
  right: -100%;
}

.slide-panel-switch{
  position: absolute;
  display: flex;
  top: 1px;
  right: 0px;
  padding: 0.25em;
  z-index: 2;
  background-color: var(--brand-dark);
  color: white;
  border-radius: 7px 0 0 7px;
  cursor: pointer;
  margin-top: 1.75em;
  font-size: 1.5em;
}

.text-button {
  cursor: pointer;
  padding: 16px;
  display: flex;
  justify-content:center;
}
.text-button:hover {
  /* color: var(--brand-dark); */
  background-color: rgba(255,255,255,0.2) !important;
}
.text-button.dim {
  background-color: rgba(0,0,0,0.3);
}
.text-button ~ .text-button {
  border-left: 1px solid white;
}

/* ################## navigation styling ################## */

nav {
  display: flex;
  position: sticky;
}

nav ul {
  justify-content: space-around;
  height: 100%;
}

nav li {
  flex: 1;
  font-size: 18px;
  padding: 0.75em;
  text-align: center;
}
nav li:hover{
  background-color: white;
  color: #0cf;
  cursor: pointer;
}

nav .margin-left, nav .margin-right {
  display: flex;
  flex: 1 0 10em;
  justify-content: center;
}

nav .main-nav {
  flex: 4 0 10em;
}



/* ################## banner styling ################## */

.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20em;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
}
.header-banner > * {
  position: absolute;
}

.banner-content {
  z-index: 10;
}

.banner-background {
  width: 100%;
  top: -600px;
  left: 0px;
  height: 100%;
  opacity: 0.5;
}
.banner-background img {
  width: 100%;
  height: auto;
}



/* ################## parameters styling ################## */

.param-set {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.super-label {
  color: rgba(255,255,255,0.85);
  font-size: 0.75em;
  text-align:center;
}


/* ################## catalog styling ################## */

.catalog {
  display: flex;
  flex: 1;
  flex-flow: column;
  overflow: hidden;
}

.quantity-control {
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  width: 90px;
  height: 30px;
}
.quantity-control .btn {
  font-size: 14px;
  background-color: white;
  color: var(--background);
}
.quantity-control .btn:hover {
  background-color: white;
  color: var(--background);
}
.quantity-control .btn.inactive {
  background-color: grey;
}
.quantity-control > * {
  display: flex;
  justify-content:center;
  align-items: center;
  flex: 1;
}

.quantity-count {

}

.search-field {
  display: flex;
  padding: 1em 0;
  align-items: center;
}

.search-field > input {
  background-image: linear-gradient(to right, var(--brand-color), var(--brand-dark));
  color: white;
  height: 2em;
  border-radius: 7px;
  font-size: 16px;
  padding: 0.1em 0.5em;
  flex: 1;
  outline: none;
  border: 1px solid var(--brand-dark);
}
.search-field > input:focus{
  background-color: rgba(0,153,255,0.25);
  background-image: none;
  color: white;
}

.search-field .radio-set {
  /* max-width: 100px; */
  flex: 0;
  height: 100%;
}

.search-field .radio-option {
  color: var(--brand-dark);
  border: 1px solid var(--brand-dark);
  font-size: 1.21em;
  flex: 0;
  margin-left: 0.5em;
}
.search-field .radio-option.checked {
  background-color: var(--brand-dark);
  color: white;
  border: none;
}

.item-segment.required .btn {
  display: none
}

.item-segment.numeric {
  display: flex;
  justify-content: flex-end;
}


/* ################## cart styling ################## */

.branch.show {
  margin-bottom: 5px;
}

.branch-container.show {
  background-color: hsla(0,0%,0%,0.07);
  border-bottom-left-radius: 7px;
}

.branch-header {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  padding: 7px 0;
  border-bottom: 1px solid white;
}

.cart-container {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
}

.cart-container > * {
  padding: 1em;
}

.cart-contents {
  overflow:hidden;
  flex: 1;
}

.cart-content .dbw-tbody {
  flex: 1;
  overflow-y: scroll;
}

.cart-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  padding-left: 5px;
}

.cart-col:not(:last-child) {
  margin-right: 2px;
}

.cart-item > ul, .collapser-content > ul{
  flex: 1;
}

.cart-col.spacer {
  width: 15px;
}

.cart-col.quantity {
  width: 30px;
}

.cart-col.name {
  flex: 1;
}

.cart-col.rate {
  width: 75px;
  padding-right:10px;
}

.cart-col.numeric {
  text-align: right;
}

.collapser-button {
  cursor: row-resize;
  min-width: 1em;
}

.collapser-container {
  display: flex;
  flex-direction: column;
}

.show > .content-container {
  padding: 7px 0 0 10px;
}

.collapser-header {
  flex: 1;
}
.hidden > .collapser-header {
  display: none;
}

.hidden > ul {
  padding: 0;
}

.content-container.show {
  display: block;
}
.content-container.hidden {
  display: none;
}

.collapser-content {
  flex: 1;
}

.cart-submit {
  display: flex;
}
.cart-submit > * {
  flex: 1;
}

.cart-summary {
  flex-flow: column;
  color: var(--brand-dark);
  background-color: white;
  font-size: 20px;
}

.cart-summary-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.cart-summary-row ~ * {
  margin-top: 10px;
}

.grand {
  font-size: 1.5em;
}

.kit-complete {
  border-left: 1px solid white;
}

.kit-complete-header {
  background-color: rgba(0,0,0,0.3);;
}

.option {
}

.adult > .quantity, .child.option > .quantity {
  background-color: hsla(0,0%,0%,0.15);
  border-radius: 3px;
}

/* ################## selector styling ################## */

.selector-set {
  width: 100%;
}

.selector-set > .super-label {
  display: none;
}


/* ################## radio button styling ################## */

.radio-list{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.radio-option {
  flex: 1;
  display: flex;
  justify-content: center;
  color: rgba(255,255,255,0.75);
  cursor: pointer;
  padding: 0.4em;
  user-select: none;
  border-radius: 7px;
}
.radio-list .checked {
  color: white;
  font-weight: 700;
  border: 1px solid white;
}

.radio-set {
  /* width: 100%; */
  flex: 1;
}

.radio-set > .super-label {
  display: none;
}


/* ################## date picker styling ################## */

.date-selector {
  display: flex;
  flex-flow: column;
}

.date-selector .super-label {
  text-align: left;
}

.date-selector input {
  background-color: transparent;
  color: white;
  font-size: 1em;
  text-align: left;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  width: 6em
}
.date-selector input:hover {
  background-color: rgba(255,255,255,0.25);
}
.date-selector input:focus {
  background-color: rgba(0,0,0,0.2);
  outline: none;
  cursor: text;
}

.react-datepicker-wrapper input {
  padding: 0;
}


/* ################## super-input styling ################## */

.super-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: text;
}

input.super-input {
  text-align:center;
  font-size: 16px;
  font-family: 'Oxygen', 'Roboto', 'Segoe UI', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif, -apple-system, BlinkMacSystemFont;
  background-color: transparent;
  color: var(--brand-color);
  border: none;
  width: 100%;
}
 
.super-input::-webkit-inner-spin-button,
.super-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ################## table/grid styling ################## */

.catalog-item-container {
  background-color: rgba(255,255,255,0.1);
  border-radius: 7px;
  overflow: hidden;
  margin: 0 2px 2px 0;
}

.catalog-item-container:hover {
  background-color: rgba(255,255,255,0.2)
}

.row-expander.btn {
  /* border: 1px solid var(--brand-color); */
  background-color: var(--brand-color);
}

.catalog-item-elements {
  flex: 1;
}

.container-header, .catalog-item {
  display: flex;
  flex: 1;
}

.row-expander {
  display: flex;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
}

.row-expander.btn:hover {
  background-color: var(--brand-color);
}

.catalog-item-elements li {
  align-items: center;
}

.catalog-item-elements .item-image > * {
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(0,153,255,0.5);
}

.catalog-item-elements li:nth-child(2) > * {
  width: 150px;

}

.item-segment, .dbw-thead .row-expander {
  margin-right: 3px;
  display: flex;
}

.item-segment {
  padding: 0 10px;
}

.item-image-thumbnail {
  text-align: center;
}

/* ##### grid ##### */

.dbw-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
}

.dbw-grid .row-expander {
  /* display: none; */
}


.dbw-grid .catalog-item-container {
  height: 275px;
}

.dbw-grid .catalog-item, .dbw-grid .container-header {
  flex-flow: column;
}

.dbw-grid .catalog-item-elements {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
}

.dbw-grid li {
  margin-bottom: 5px;
}

.dbw-grid .item-description {
  order: 1;
  height: 2em;
  align-items:flex-start;
}

.dbw-grid .item-image {
  order: 4;
  height: 100px;
  overflow: hidden;
}

.dbw-grid .item-quantity {
  order: 2;
}

.dbw-grid .item-rate {
  order: 3;
}

.item-segment .grid-label {
  margin-right:1em;
}

/* ##### table ##### */

.dbw-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.dbw-table .grid-label {
  display: none;
}

.dbw-table ul {
  margin-bottom: 2px;
}

.dbw-thead {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.25em;
}
.dbw-thead li {
  border-bottom: 1px solid white;
}

.dbw-tbody {
  overflow-y: scroll;
}
.dbw-tbody::-webkit-scrollbar {
  display: none;
}

.dbw-table .item-description {
  order: 3;
  flex:1;
}

/* .dbw-table .item-segment:nth-child(2) - see table/grid general section */

.dbw-table .item-quantity {
  order: 1;
  width: 100px
}
.dbw-table .item-rate {
  order: 4;
  width: 75px;
}
.dbw-table .item-image {
  order: 2;
  width: 100px;
  display: flex;
  justify-content: center;

}

.dbw-table .catalog-item-elements {
  height: 50px;
  overflow: hidden;
  border-radius: 7px;
}

.collapsible-container {
  flex: 1;
  transition: height 0.2s ease;
}

.container-accessories {
  margin-left: 1em;
}


/* ################## loader/blip styling ################## */

@keyframes pulse {
  0%, 50% {
    transform: scale(0.3);
  }
  25% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

.loader-text {
  color: white;
  text-align:center;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  font-size: 1em;
}

.loader-blip {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blips {

}

.blip {
  animation: pulse 1s infinite;
  animation-timing-function: ease-out;
  background-color: white;
  border-radius: 50px;
  height: 10px;
  width: 10px;
}

.blip:nth-child(2){
  animation-delay: 0.1s
}
.blip:nth-child(3){
  animation-delay: 0.2s
}
.blip:nth-child(4){
  animation-delay: 0.3s
}
.blip:nth-child(5){
  animation-delay: 0.4s
}
.blip:nth-child(6){
  animation-delay: 0.5s
}
.blip:nth-child(7){
  animation-delay: 0.6s
}