body {
    --primary-hue:200;
    --primary-sat:94%;
    --primary-lum:57%;
    --secondary-hue:0;
    --secondary-sat:0%;
    --secondary-lum:100%;
    --background-hue:0;
    --background-sat:0%;
    --background-lum:0%;
    --shadow: 0 0 10px rgba(0,0,0,0.5);
    --background-img: url("./images/background.jpeg");
}